*{margin: 0;padding: 0;}
img{
    width: 100%;
}
.default{
    color: #6c757d;
    text-decoration: none;
}
.navbar{
    background-color:#d1d1d1 !important;
}
.footer-menu{
    text-align: center;
}
.footer-menu li{
    display:inline-block;
}
.footer-menu li a{
    font-weight: 500 !important;
}